body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    padding: 40px 0; /* Add padding to create space above and below the image */
    background-color: #f0f0f0; /* Optional: add background color */
}

.profile-pic {
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
